<!DOCTYPE html>
<html>
  <head>
    <title>Parcel Company</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Add a parcel to ship.</h1>
    <a href="/parcels/new">Add a new parcel.</a><br>
    <a href="/parcels"> </a><br>
  </body>
</html>
