<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Parcel Company</title>
  </head>
  <body>
    <h1>Add a Parcel</h1>

    <form action="/parcels" method="post">
      <label for="Material">Material</label>
      <input id="Material" name="Material" type="text">
      <label for="Height">Height</label>
      <input id="Height" name="Height" type="text">
      <label for="Width">Width</label>
      <input id="Width" name="Width" type="text">
      <label for="Weight">Weight</label>
      <input id="Weight" name="Weight" type="text">
      
      <button type="submit">Submit</button>
    </form>

  </body>
</html>
